@media (min-width: 768px) {
  .graph {
      height: auto;
      width: auto;
   }
}

@media screen and (min-width: 768px) {
  .logocontainer {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logocontainer {
    display: inline;
  }
}
